
@{
    ViewData["Title"] = "Video Upload";
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<h1>Upload a Video File</h1>

<form asp-controller="Home" asp-action="Upload" method="post" enctype="multipart/form-data">
    <input type="file" name="videoFile" required />
    <button type="submit">Upload Video</button>
</form>

